<nav class="navbar navbar-expand-lg navbar-light bg-light nopadding">
  <hr />
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><h1>Technology News</h1></a>
    </div>
    <ul class="nav navbar-nav navbar-right top-buttons">
        <li><button class="btn btn-secondary scrape">Get New Articles!</button></li>
        <li><button class="btn btn-secondary saved">Saved Articles</button></li>
    </ul>
  </div>
</nav>

<div class="articles">
    <div class="load"></div>
    {{#each_upto articles 8}}
        {{#unless saved}}
        <div class="article card">
          <div class="card-body">
            <img src="{{image}}" style="height:100px;">
            <br /><br />
            <a href="{{link}}"><h4>{{title}}</h4></a>
            <p>{{summary}}</p>
            <button class="btn btn-primary save" data-id="{{_id}}">SAVE</button>
            <br>
          </div>
        </div>
        {{/unless}}
    {{/each_upto}}
</div>
